<div class="container">
    <img class="background" src="https://res.cloudinary.com/dxyklix4g/image/upload/v1639929541/360_F_302492715_voRjcDcJ7db6pJ55nwoBRAu3KAvGCzmx_hdlw3u.jpg" alt="">
    <img class="logo" src="https://res.cloudinary.com/dxyklix4g/image/upload/v1639932749/Best_New_Restaurant_logo_px7wwf.png" alt="">
    <div class="contact">
        <p>You can find us at:</p>
        <p>ul. Dzięcioła 42, Kraków</p>
        <p>tel. kontaktowy 241 241 521</p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2563.1103406221514!2d19.948821015884665!3d50.02802822559251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471643567f485451%3A0x361056e30c510504!2sBonarka%20City%20Center!5e0!3m2!1spl!2spl!4v1639933748162!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
